@model IEnumerable<Desserts>

@{
    ViewData["Title"] = "Desserts";
}


<div class="container food-section">
     <div class="row">
         @foreach (var item in Model)
         {
                 <div class="col-md-4">
                  <div class="foodBox" style="background: url(../images/cake2.jpg); background-size: cover;background-position: center;">
                          <p><a asp-controller="Menu" asp-action="DessertProduct" asp-route-id=@item.Id>@item.Type</a></p>
                    </div>
                 </div>
         }
  </div>
</div>

