
@{
    ViewData["Title"] = "Menu";
}

<div class="container menu">
    <div class="menuBox soup">
         <p><a asp-controller="Menu" asp-action="Index">Soup</a></p>
    </div>


    <div class="menuBox meal">
         <p><a asp-controller="Menu" asp-action="Index">Main Meal</a></p>
    </div>


    <div class="menuBox dessert">
         <p><a asp-controller="Menu" asp-action="Index">Dessert</a></p>
    </div>
</div>

