
@{
    ViewData["Title"] = "Menu";
}

<div class="container menu">
    <div class="menuBox soup">
         <p><a asp-controller="Menu" asp-action="Soup">Soup</a></p>
    </div>


    <div class="menuBox meal">
         <p><a asp-controller="Menu" asp-action="Meal">Main Meal</a></p>
    </div>


    <div class="menuBox dessert">
         <p><a asp-controller="Menu" asp-action="Desserts">Desserts</a></p>
    </div>
</div>

