
@{
    ViewData["Title"] = "Product";
}

<div class="products">
    <div class="container">
    <h1>Name</h1>
    <p>Price: <small>5.40</small> </p>
    <button class="btn btn-dark btn-lg"> <a asp-controller="Menu" asp-action="Thank">Buy</a></button>
    </div>
</div>


