@model Soup

@{
    ViewData["Title"] = "Product";
}

<div class="products">
    <div class="box">
    <h1>@Model.Type</h1>
    <p>Price: <small>@Model.Price</small></p>
    <button class="btn btn-dark btn-lg"> <a asp-controller="Menu" asp-action="SoupThank" asp-route-id=@Model.Id>Buy</a></button>
    </div>
</div>


