
@{
    ViewData["Title"] = "Thank";
}

<div class="products">
    <div class="container">
    <h1>Thank you for buying</h1>
    <p>Your meal was successfully ordered. Price: <small>5.40</small> </p>
     <button class="btn btn-dark btn-lg"> <a asp-controller="Home" asp-action="Index">Back</a></button>
    </div>
</div>


