@{
    ViewData["Title"] = "Home Page";
}



<div class="homeContent ">
    <div class="content">
        <h1>Taste our meals</h1>
        <button class="btn btn-dark btn-lg"><a  asp-controller="Menu" asp-action="Index">View our Menu</a> </button>
    </div>
</div>

<div class="homeContent2 bg-dark">
    <div class="content">
        <p class="main-text">Contact</p>
        <p class="text">Email, Street Address, phone number and more</p>
        <button class="btn btn-dark"><a asp-controller="Contact" asp-action="Index">Find</a></button>
    </div>
</div>

<div class="homeContent homeContent3">
    <div class="content">
        <h1>Sick of salt ? Try our desserts.</h1>
        <button class="btn btn-dark btn-lg"><a asp-controller="Menu" asp-action="Desserts">Find out more</a></button>
    </div>
</div>