
@{
	ViewData["Title"] = "Contact";
}


<div class="contactContent ">
    <div class="content">
        <h1>Have any questions?</h1>
        <p>Write Us</p>
    </div>
</div>


<div class="contactBox container">
    <h2>Contact</h2>
    <ul class="list-group list-group-flush w-75 bg-dark">
          <li class="list-group-item">Company: Company name</li>
          <li class="list-group-item">Street: Street 12, 52532</li>
          <li class="list-group-item">Email: company@gmail.com</li>
          <li class="list-group-item">Number: +4215789375</li>
          <li class="list-group-item">Fax: 02/534553</li>
    </ul>
</div>