
@{
    ViewData["Title"] = "Location";
}

<div class="container location">
    <h1>Location</h1>

    <dl>
        <dt>state</dt>
        <dd>city</dd>
        <dd>city</dd>
        <dd>city</dd>
        <dd>city</dd>
    </dl>

    <dl>
        <dt>state</dt>
        <dd>mesto</dd>
        <dd>mesto</dd>
        <dd>mesto</dd>
        <dd>mesto</dd>
    </dl>

    <dl>
        <dt>stat</dt>
        <dd>mesto</dd>
        <dd>mesto</dd>
        <dd>mesto</dd>
        <dd>mesto</dd>
    </dl>
</div>