/* home */

.homeContent {
    background: red;
    padding: 120px 0;
    color: #fff;
}

.homeContent .content {
    width:30%;
    margin-left: 140px;

}

.homeContent h1 {
    font-size: 70px;
    margin-bottom: 60px;
}

.homeContent2 {
    background:green;
    padding:32px;
    color: #fff;
}

.homeContent2 .main-text {
    font-size: 22px;
}

.homeContent2 .text {
    font-size: 17px;
}


.homeContent3 {
    background:cornflowerblue ;
}

/* MENU */

.menu a {
    text-decoration: none;
    color: #000;
}

.menuBox {
    border: 1px solid black;
    width: 350px;
    height: 160px;
    padding: 60px 0;
    border-radius: 10px;
}

.menuBox p {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.menu .soup {
    margin-top: 30px;
}

.menu .meal {
    margin-left: 680px;
}

.menu .dessert {
    margin-left: 130px;
}

/* CONTACT */

.contactContent {
    background: red;
    padding: 80px 0;
    color: #fff;
    display: flex;
    align-items: center;
}


.contactContent .content {
    width: 30%;
    margin-left: 140px;
}

.contactContent .content h1{
    margin-bottom: 30px;
}

.contactContent .content p {
    font-size: 20px;
}

.contactContent .img {
    width: 400px;
    height: 300px;
    background: #000;
    margin-left: 300px;
}

.contactBox {
    margin: 40px auto 100px auto;
}

.contactBox ul li{
    padding-left: 0;
}