/* all*/



/* home */

.homeContent {
    background-image: url("../images/burger.jpg");
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    padding: 120px 0;
    color: #fff;
}

.homeContent .content {
    width:30%;
    margin-left: 140px;

}

.homeContent h1 {
    font-size: 70px;
    margin-bottom: 60px;
}

.homeContent2 {
    padding:32px;
    color: #fff;
}

.homeContent2 .content {
     display: flex;
     justify-content: space-around;
     align-items: center;
}

.homeContent2 .main-text {
    font-size: 22px;
}

.homeContent2 .text {
    font-size: 17px;
}


.homeContent3 {
    background-image: url("../images/cake.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* MENU */

.menu a {
    text-decoration: none;
    color: #000;
}

.menuBox {
    border: 1px solid black;
    width: 350px;
    height: 160px;
    padding: 60px 0;
    border-radius: 10px;
}

.menuBox p {
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.menu .soup {
    margin-top: 30px;
}

.menu .meal {
    margin-left: 680px;
}

.menu .dessert {
    margin-left: 130px;
}

/* CONTACT */

.contactContent {
    background: red;
    padding: 80px 0;
    color: #fff;
    display: flex;
    align-items: center;
}


.contactContent .content {
    width: 30%;
    margin-left: 140px;
}

.contactContent .content h1{
    margin-bottom: 30px;
}

.contactContent .content p {
    font-size: 20px;
}

.contactContent .img {
    width: 400px;
    height: 300px;
    background: #000;
    margin-left: 300px;
    border-radius: 10px;
}

.contactBox {
    margin: 40px auto 100px auto;
}

.contactBox ul li{
    padding-left: 0;
}

/* food soup */

.food-section {
    margin-top: 50px;
}

.food-section a {
    text-decoration: none;
    color: #000;
}

.food-section .foodBox {
     border: 1px solid black;
     padding: 50px  0;
     margin-bottom: 50px;
     border-radius: 10px;
}

.food-section .foodBox p {
    display: flex;
    justify-content: center;
    font-size: 22px;
}

/* location */

.location {
    margin-top: 50px;
    margin-bottom: 120px;
}


.location h1 {
     text-align: center; 
     margin-bottom: 50px;
}

.location dl {
    margin-bottom: 50px;
}

.location dl dt {
    text-transform: uppercase;
    font-size: 22px;
    margin-bottom: 10px;
}

.location dl dd {
    display: block;
    margin-left: 40px;
}